#poster_hall
  - pg = @poster_grid = @sessions.first.grid.new
  - @sessions.each do |s|
    - color_tag = @sessions.index(s).modulo(12)
    - pg.cssify(s.grids).each do |box_css|
      = content_tag :a, "", :class => ["poster_row", "color_#{color_tag}", "session_#{s.id}"],
                  :href => ksp(s),
                  :style => "position:absolute;#{box_css}",
                  :title => (@show_debug_info ? box_css : nil)
  - pg.labels.each do |text, css|
    = content_tag :div, text, :class => ["poster_row_top_label"],
                  :style => "position:absolute;#{css}"
  - unless @dont_load_highlights
    = ks_ajax_placeholder :id => "poster_like_highlights", "data-ajax" => like_highlights_poster_session_path(params[:id])
