= ks_element :id => "list_sessions",
             :data => {:container => "ponzu_frame",
                       :container_ajax => static_path(:page => "ponzu_frame")} do

  %h1 Listing sessions

  = ks_will_paginate

  %table
    %tr
      %th Starts at
      %th Ends at
      %th Room
      %th Number
      %th
      %th En title
      %th Jp title

    - @sessions.each do |session|
      %tr
        %td= l(session.starts_at, :format => :month_day_time) if session.starts_at
        %td= l(session.ends_at, :format => :month_day_time) if session.ends_at
        %td= session.room && session.room.en_name
        %td= session.number
        %td 
          = link_to 'Edit', ksp(edit_session_path(session))
          |
          = link_to 'Destroy', session, confirm: 'Are you sure?', method: :delete, remote: true
        %td= session.en_title
        %td= session.jp_title

  %br/

  = link_to 'New Session', ksp(new_session_path)
