<%= ks_page :id => ["session_list", @session.id],
            :class => "session_list program session",
            :data => {
              :title => t('titles.session', :number => @session.number, :title => @session.title )
            } do %>
<!-- <div id="<%= "session_list_#{@session.id}" %>" class="session_list program page session" data-title="<%= t('titles.session', :number => @session.number, :title => @session.title ) %>"> -->
  <%= render :partial => 'layouts/s_header' %>
  <div class="session_header panel">
    <div>
      <span class="presentation_number">
        <%= @session.number %><%= t('session.poster') if @session.poster? %>
      </span>
      <span style="margin-left: 20px">
        <%= l(@session.starts_at, :format => :month_day_time) %> - <%= @session.ends_at.strftime("%H:%M") %>
      </span>
      <span style="margin-left: 20px">
        <%= @session.room.name %>(<%= link_to t('map'), ksp(@session.room) %>)
      </span>
      <h2><%= sanitize(@session.title) %></h2>
    </div>
    <div style="font-size: 12px">
      <%= @session.organizers_string.split(',').join('</br>').html_safe %>
    </div>
  </div>

  <div class="panel">
    <ul>
      <% @session.presentations.includes(:likes).each do |p| %>
        <li><%= render :partial => "presentation.s", :locals => {:p => p} %></li>
      <% end %>
    </ul>
  </div>
<!-- </div> -->
<% end %>