= ks_element :id => "ipadish_left" do
  %ul
    %li= link_to "本部からの通知", ksp(:docs_path, 'mockup/dashboard')
    %li= link_to "地図", ksp(:docs_path, 'homepage/introduction')
  .bar_title プログラム
  %ul
    %li= link_to "口頭発表", ksp(:docs_path, 'mockup/orals_by_day')
    %li= link_to "ポスター発表", ksp(:docs_path, 'mockup/program_1212')
    %li= link_to "展示会", ksp(:docs_path, 'homepage/bioinformatics')
    %li= link_to "夜ゼミ", ksp(:docs_path, 'homepage/bioinformatics')
    %li= link_to "高校生発表", ksp(:docs_path, 'homepage/bioinformatics')
    %li= link_to "Perfume", ksp(:docs_path, 'homepage/bioinformatics')
    %li= link_to "リクルート企画", ksp(:docs_path, 'mockup/jobs')
  .bar_title あなたのこと
  %ul
    %li= link_to "あなたの発表の反響", ksp(:docs_path, 'homepage/search')
    %li= link_to "マイスケジュール", ksp(:docs_path, 'homepage/multidevice')
    %li= link_to "「いいね」", ksp(:docs_path, 'homepage/epub')
    %li= link_to "プライベートメッセージ", ksp(:docs_path, 'mockup/private_messages')
    %li= link_to "設定", ksp(:docs_path, 'mockup/settings')
  .bar_title その他
  %ul
    %li= link_to "保育室・親子休憩室", ksp(:docs_path, 'mockup/kids')
    %li= link_to "交通の案内", ksp(:docs_path, 'mockup/access')
