= ks_element :id => "poster_1211_category_1",
             :data => {:container => "poster_list_1211_content",
                       :title => "Poster List 1211 Category 1",
                       "container-ajax" => docs_path(:page => "mockup/poster_list_1211")} do
  %ul
    %li= link_to "hello", ksp(:docs_path, "mockup/presentations_1")
    %li= link_to "Presentation 2", ksp(:docs_path, "mockup/presentation_2")
    %li= link_to "Presentation 3", ksp(:docs_path, "mockup/presentation_3")
    %li= link_to "Presentation 4", ksp(:docs_path, "mockup/presentation_4")