- if @users && !@users.results.empty?
  .panel_title
    - if !params[:query].blank?
      = t('search.hit_users', :query => params[:query], :hits => @users.total)
    - else
      = params[:flag] && t("flags.#{params[:flag]}")
  .panel.paneled_list.presentation
    = ks_will_paginate @users.results, :params => {:type => :users}
    = render :partial => "users"
    = ks_will_paginate @users.results, :params => {:type => :users}
