%li{:id => "single_line_edit_presentation_#{p}"}
  = link_to "Session #{p.session.number}: #{p.session.title}", ksp(:edit_session_path, p.session)
  = " as ##{p.number} starting at #{l(p.starts_at, :format => :month_day_time)}"
  = " in Ad category '#{p.ad_category}'" if p.ad_category
  = link_to "[preview]", ksp(:presentation_path, p)
  - if can? :manage, Presentation
    = link_to "[Edit presentation]", ksp(:edit_presentation_path, p)
  - if p.type == 'Presentation::Ad' && can?(:change_ad_category, Presentation)
    = form_for p, :url => change_ad_category_presentation_path(p), :method => :put, :remote => true do |f|
      = f.select(:ad_category, Session.in_conference(current_conference).order(:ad_category).collect{|e| [e.ad_category, e.ad_category] unless e.ad_category.blank?}.compact.uniq, :include_blank => true)
      = f.submit "Change Ad Category"
