-# Cache keys are the @presentation, current_user and
-# anything that changes any Like belonging to the @presentation (incl. other users)
-# so that we can update counts.
-#
-# We don't share the cache between different users because we
-# would have to specify each single attribute of User which
-# changes how the social box is displayed, which is possible, but tough.
-#
-# TODO: We currently user Like.where(:presentation_id => ...) because we want to be
-# sure that we are collecting all descendants. We need to clean up the Like class
-# notation, so that we can be confident about what @presentation.likes would mean.
-# (will it include all descendants of Like?)
-#
-# all_likes = Like.where(:presentation_id => @presentation)
-# Cache keys @presentation.id,
-#            all_likes.any? && all_likes.max_by{|p| p.updated_at}.updated_at
-#            current_user && current_user.id
- all_likes = Like.where(:presentation_id => @presentation)
- cache ["v0", 
         "presentations/social_box", 
         @presentation.id, 
         all_likes.any? && all_likes.max_by{|p| p.updated_at}.updated_at,
         current_user && current_user.id] do
  - if current_user
    = ks_element :id => ['presentation', @presentation.id, "social_box"],
                 :data => {:ajax => social_box_presentation_path(@presentation)} do
      .like_box
        = render :partial => 'likes/like_button', :locals =>{ :presentation => @presentation }
      - if can? :vote, Like
        - unless current_user.author && @presentation.authors.include?(current_user.author)
          .vote_box
            = render :partial => 'likes/vote_button', :locals => { :presentation => @presentation }
  -# Highlight liked
  - css_class = [("scheduled" if schedule_for_current_user_and_presentation(@presentation)),
                 ("liked" if like_for_current_user_and_presentation(@presentation))].compact
  - remove_css_class = ["scheduled", "liked"] - css_class
  = ks_modify_elements "session_details_presentation_#{@presentation.id}" => {add_class: css_class.join(' '),
                                                                              remove_class: remove_css_class.join(' ')}
