- p = @presentation
= ks_element :id => "session_details_presentation_#{p.id}",
             :class => ["panel", "presentation"] do
  - cache ['v1', current_conference, I18n.locale, p] do
    - unless p.cancel
      .time
        = l(p.starts_at, :format => :month_day_time)
      .number
        = p.number
      .title
        = sanitize(p.title)
      .authors
        = render :partial => 'submissions/author_list', 
                 :locals => {:submission => p.submission}
      .institutions
        = render :partial => 'submissions/institution_list', 
                 :locals => {:submission => p.submission}
    - else
      .time
        = l(p.starts_at, :format => :month_day_time)
      .number
        = p.number
      .title
        = "Presentation Cancelled"

  = ks_ajax_placeholder :id => ["presentation", p.id, "social_box"],
                   :class => "social_box",
                   :data => {:ajax => social_box_presentation_path(p)}
