%h1 List of likes
%p 
  for 
  = @presentation.number
  \"
  = sanitize @presentation.title
  \"
- if @presentation.authors.include?(current_user.author)
  %strong Liked by :
  - @likes.each.with_index do |l, i|
    = ", " unless i == 0
    = link_to "#{l.user.name}", ksp(user_path(l.user))
- else
  Only authors can view here a list of all participants who "liked" or "scheduled" their presentation.
