<div class="presentation_detail">
  <%= link_to "<< #{@presentation.number}に戻る", presentation_path(@presentation) %>
  <h1><%= @presentation.number %>の関連発表</h1>
</div>

<h2>同一投稿による発表</h2>
<div class="presentation_list">
  <% @presentation.presentations_belonging_to_same_submission.each do |p| %>
    <%= render :partial => "sessions/presentation.g", :locals => {:p => p} %>
  <% end %>
</div>
<h2>著者らによるその他の発表</h2>
<div class="presentation_list">
  <% @presentation.presentations_by_same_authors_but_different_submissions.each do |p| %>
    <%= render :partial => "sessions/presentation.g", :locals => {:p => p} %>
  <% end %>
</div>
<h2>内容が関連する発表(試験的)</h2>
<div class="presentation_list">
  <% @more_like_this.results.each do |p| %>
    <%= render :partial => "sessions/presentation.g", :locals => {:p => p} %>
  <% end %>
</div>

