= ks_element :id => "ipadish_left" do
  .panel
    %h3 実証済みの数々のメリット
    %ul
      %li= link_to "概説", ksp(:docs_path, 'homepage/introduction')
      %li= link_to "世界初の「いいね！」", ksp(:docs_path, 'homepage/likes')
      %li= link_to "世界で最も先進的なスケジュール機能", ksp(:docs_path, 'homepage/schedule')
      %li= link_to "ポスターマップ", ksp(:docs_path, 'homepage/poster_map')
      %li= link_to "飲み会の支援", ksp(:docs_path, 'homepage/yoruzemi')
      %li= link_to "最先端のバイオインフォマティックス", ksp(:docs_path, 'homepage/bioinformatics')
      %li= link_to "最高峰の検索機能", ksp(:docs_path, 'homepage/search')
      %li= link_to "すべての人を満足させるマルチデバイス対応", ksp(:docs_path, 'homepage/multidevice')
      %li= link_to "話題の電子書籍フォーマット対応", ksp(:docs_path, 'homepage/epub')
      %li= link_to "プライベートメッセージ", ksp(:docs_path, 'homepage/private_messages')
      %li= link_to "多言語対応", ksp(:docs_path, 'homepage/i18n')
      %li= link_to "Webなのでオフライン可能", ksp(:docs_path, 'homepage/offline')
      %li= link_to "研究の見栄えを良くするデザイン", ksp(:docs_path, 'homepage/design')
      %li= link_to "最も評価が高いシステム", ksp(:docs_path, 'homepage/feedback')
      %li= link_to "最先端だから実現できる価格", ksp(:docs_path, 'homepage/pricing')
    %h3 Back to Docs
    %ul
      %li= link_to "Introduction", ksp(:docs_path, 'showcase/introduction')
