#authorships_list
  - @other_highlight_authors ||= []
  - if can? :whitelist, @author
    - author_appearances = Author.frequency_in(@author.presentations)
    - @other_highlight_authors = author_appearances.authors_more_than_once(:excluing => @author)

  - authorships.each.with_index do |as, i|
    = link_to ksp(:edit_authorship_path, as), :style => "display:block", :draggable => 'true' do
      - s = as.submission
      %div
        %div
          - s.presentations.each do |p|
            %div    
              = p.number
              = p.starts_at && l(p.starts_at, :format => :month_day_hour)
        %div
          .title
            = sanitize(s.title)
          .authors
            = authors_list(s, [@author], @other_highlight_authors, false, true, true)
          .institutions
            = render :partial => 'submissions/institution_list', 
                       :locals => {:submission => s}
