<%= form_for(@author, :remote => true, :html => {:data => {'ks-insert-response' => true}}) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jp_name %><br />
    <%= f.text_field :jp_name %>
  </div>
  <div class="field">
    <%= f.label :en_name %><br />
    <%= f.text_field :en_name %>
  </div>
  <!-- <div class="field"> -->
    <!-- <%#= f.label :whitelisted %>  -->
    <!-- <%#= f.check_box :whitelisted %> -->
  <!-- </div> -->
  <%= hidden_field_tag "author[initial_submission]", params[:initial_submission] %>
  <%= hidden_field_tag "author[initial_authorship]", params[:initial_authorship] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
