= ponzu_frame :id_suffix => "page_#{params[:page] || 1}" do

  %h1 Listing authors

  = ks_will_paginate

  = link_to 'New Author', ksp(new_author_path)
  %table
    %tr
      %th Jp name
      %th En name
      %th
    - @authors.each do |author|
      %tr
        %td= author.jp_name
        %td= author.en_name
        %td
          = link_to 'Edit', ksp(edit_author_path(author))
          |
          = link_to 'Destroy', author, 
                    confirm: 'Are you sure?', 
                    method: :delete,
                    data: {ks_insert_response: 'true'}

  = ks_will_paginate

