%div{:id => "vote_button_#{presentation.id}", :class => "like"}
  %span.social_controls
    - vote = @vote || current_user.votes.detect{|v| v.presentation_id == presentation.id } || current_user.votes.build(:presentation_id => presentation.id)
    = form_for vote, :url => vote_likes_path, :remote => true, :namespace => ["presentation", presentation.id],
                     :method => :post, 
                     :html => {:data => {:'ks-insert-response' => '',
                                         'invalidates-keys' => invalidated_paths(vote)}} do |f|
      = render :partial => "layouts/error_messages", :locals => {:target => vote, :model_name => "Vote"}
      = f.hidden_field(:presentation_id)
      %span
        = f.radio_button(:score, Like::Vote::EXCELLENT)
        = f.label(:score, "Excellent!", :value => Like::Vote::EXCELLENT)
      %span
        = f.radio_button(:score, Like::Vote::UNIQUE)
        = f.label(:score, "Unique!", :value => Like::Vote::UNIQUE)
      %span
        = f.radio_button(:score, Like::Vote::NULL)
        = f.label(:score, "No Vote", :value => Like::Vote::NULL)
