= ponzu_frame do
  .panel
    %h1= t('.title')
    .warnings= t('.messages.instructions')
    - @score_descriptions.each do |score, label|
      - next if score == 0
      .panel_title= label
      .panel.paneled_list
        - unless @votes_for_score[score].empty?
          - @votes_for_score[score].each do |l|
            - p = l.presentation
            = link_to ksp(presentation_path(p)) do
              = ks_ajax_placeholder :id => ['session_details_presentation', p.id],
                                :class => "presentation",
                                :data => {:ajax => heading_presentation_path(p.id)}
        - else
          = t('.messages.no_votes')
