= ponzu_frame :data => {:title => "Votes report"} do
  .panel
    %h1 Votes report
    .panel_title= "Voter information"
    .panel
      %dl
        %dt Total Number of Voters
        %dd
          = @total_number_of_voters
          \/
          = @number_of_all_users
        %dt Number of Voters who haven't yet voted
        %dd
          = @number_of_voters_who_havent_voted
          \/
          = @total_number_of_voters
    - @score_descriptions.each do |score, label|
      - next if score == 0
      .panel_title= label
      .panel
        %dl
          %dt= "Total Number of #{label}"
          %dd
            = @number_of_votes_for_score[score]
          %dt= "List of #{label}"
          %dd
            %ol
              - @top_rankers_for_score[score].each do |v|
                - s = Submission.find(v.submission_id)
                %li
                  = s.title
                  (
                  - s.presentations.each do |p|
                    = link_to p.number, ksp(p)
                    = ', ' unless p == s.presentations.last
                  \:
                  = "#{pluralize v.count, "vote"} total" 
                  )
