= ponzu_frame :data => {:title => "Votes report"} do
  .panel
    %h1 Votes report
    .panel_title= "Voter information"
    .panel
      %dl
        %dt Total Number of Voters
        %dd
          = @total_number_of_voters
          \/
          = @number_of_all_users
        %dt Number of Voters who haven't yet voted
        %dd
          = @number_of_voters_who_havent_voted
          \/
          = @total_number_of_voters
    .panel_title= "Uniques"
    .panel
      %dl
        %dt Total Number of Uniques
        %dd
          = @number_of_unique_votes
        %dt List of Uniques
        %dd
          %ol
            - @top_uniques.each do |v|
              - s = Submission.find(v.submission_id)
              %li
                = s.title
                (
                - s.presentations.each do |p|
                  = link_to p.number, ksp(p)
                  = ', ' unless p == s.presentations.last
                \:
                = "#{pluralize v.count, "vote"} total" 
                )
    .panel
      %dl
        %dt Total Number of Excellents
        %dd
          = @number_of_excellent_votes
        %dt List of Excellents
        %dd
          %ol
            - @top_excellents.each do |v|
              - s = Submission.find(v.submission_id)
              %li
                = sanitize s.title
                (
                - s.presentations.each do |p|
                  = link_to p.number, ksp(p)
                  = ', ' unless p == s.presentations.last
                \:
                = "#{pluralize v.count, "vote"} total" 
                )
