= ponzu_frame :id => "users_index" do
  %h1 Listing users

  = form_tag users_path, :method => :get, 
                         :remote => true,
                         :data => {'ks-insert_response' => true}  do
    = text_field_tag :query, params[:query], 
          :placeholder => "ユーザ検索", :style => "font-size: 20px;width: 15em"
    = submit_tag "検索実行"

  = ks_will_paginate
  = link_to "Gray users", ksp(users_path(:gray => 1))
  |
  = link_to "Has Author", ksp(users_path(:has_author => 1))
  |
  = link_to "Has no Author", ksp(users_path(:has_no_author => 1))
  |
  = link_to "All users", ksp(users_path())
  %table
    %tr
      %th{:colspan => 2} User
      %th{:colspan => 2} Author
      %th{:colspan => 2} User
      %th Author
    %tr
      %th Jp name
      %th En name
      %th Jp name
      %th En name
      %th Jp aff
      %th En aff
      %th email
      %th Aff
      %th
      %th
      %th
    - @users.each do |user|
      %tr
        %td= user.jp_name
        %td= user.en_name
        %td= user.author && user.author.jp_name
        %td= user.author && user.author.en_name
        %td= user.jp_affiliation
        %td= user.en_affiliation
        %td= user.email
        %td= user.author && user.author.all_unique_affiliations.to_a.join('<br>').html_safe
        %td= link_to 'Show', ksp(user)
        %td= link_to 'Edit', ksp(edit_user_path(user))
        %td=# link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete
  %br/
  = ks_will_paginate

  = link_to 'New User', ksp(new_user_path)
