= ponzu_frame id: "user_settings_form" do
  .settings_bg
    = form_for(@user, :url => settings_user_path(@user),
                :method => :put, 
                :remote => true, 
                :html => {'data-invalidates-keys' => invalidated_paths(@user),
                          'data-ks-insert-response' => true}) do |f|
      = render :partial => "layouts/error_messages", :locals => {:target => @user}
      %h1= t '.title_for', :name => @user.name
      .panel_title= t '.panel_titles.account_info'
      .panel
        .grid
          .col-1-3
            = t 'users.login_id'
          .col-2-3
            = @user.login
        .grid
          .col-1-3
            = f.label :password, t('users.new_password')
          .col-2-3
            = f.password_field :password
        .grid
          .col-1-3
            = f.label :password_confirmation, t('users.new_password_confirm')
          .col-2-3
            = f.password_field :password_confirmation

      .panel_title= t '.panel_titles.your_name'
      .panel
        .grid
          .col-1-3
            = f.label :en_name, t('.en_name')
          .col-2-3
            = f.text_field :en_name
        / .grid
        /   .col-1-3
        /     = f.label :jp_name, "Japanese Name"
        /   .col-2-3
        /     = f.text_field :jp_name

      .panel_title= t '.panel_titles.additional_info'
      .panel
        .grid
          .col-1-3
            = f.label :email, t('.email')
          .col-2-3
            = f.text_field :email, :placeholder => "For notifications only. Never disclosed."
        .grid
          .col-1-3
            = f.label :twitter_id, t('.twitter')
          .col-2-3
            = f.text_field :twitter_id, :placeholder => t('.placeholders.twitter')
        .grid
          .col-1-3
            = f.label :facebook_id, t('.facebook')
          .col-2-3
            = f.text_field :facebook_id, :placeholder => t('.placeholders.facebook')
        .grid
          .col-1-3
            = f.label :linkedin_id, t('.linkedin')
          .col-2-3
            = f.text_field :linkedin_id, :placeholder => t('.placeholders.linkedin')
        .grid
          .col-1-3
            = f.label :read_research_map_id, t('.read_research_map')
          .col-2-3
            = f.text_field :read_research_map_id, :placeholder => t('.placeholders.read_research_map')
        - 0.upto(5) do |i|
          - placeholders = [:lab_url, :pubmed_url, :personal_blog_url, :blank, :blank, :blank]
          .grid
            .col-1-3
              = label_tag "other_links_i", "#{t('.other')} #{i + 1}"
            .col-2-3
              = text_field_tag "user[other_links][]", @user.other_links[i], :id => "other_links_i",
                               :placeholder => t(".placeholders.#{placeholders[i]}")
        .panel_title= t(".panel_titles.examples")
        .panel
          %dl
            %dt= "#{t('.email')}:"
            %dd!= "#{t('.descriptions.email')}"
            %dt= "#{t('.twitter')}:"
            %dd= "#{t('.placeholders.twitter')}:"
            %dt= "#{t('.facebook')}:"
            %dd= "#{t('.placeholders.facebook')}:"
            %dt= "#{t('.linkedin')}:"
            %dd= "#{t('.placeholders.linkedin')}:"
            %dt= "#{t('.read_research_map')}:"
            %dd= "#{t('.placeholders.read_research_map')}:"
            %dt= "#{t('.other')}:"
            %dd!= "#{t('.descriptions.other')}"

      %div{:style => "text-align:right"}
        = f.button :class => "button big icon approve"
      %div{:style => "text-align:right;margin-top: 10px"}
        = link_to t('.view_profile'), ksp(@user), :class => "button arrowright icon big"
