= ponzu_frame :container => :ponzu_admin_frame do
  .panel
    %h1 Listing conferences
    - if @conferences.empty?
      %div No conferences yet.
    - else
      %table
        %tr
          %th{style: "width: 500px"} Name
          %th{style: "width: 200px;"} Module Name
        - @conferences.each do |conference|
          %tr
            %td
              = conference.name
              %br/
              = link_to "Show", ksp(conference)
              |
              = link_to "Edit", ksp(:edit_conference_path, conference)
              |
              = link_to "Destroy", conference, :remote => true, :method => :delete,
                                   :confirm => 'Conferences with Users cannot be destroyed. Destroying Conferences does not delete associated data.'
              |
              = link_to 'View', conference_root(conference)
            %td= conference.module_name

    = link_to "Create New Conference", ksp(new_conference_path)
