= form_for @private_message, :remote => true, 
             :html => {:data => {"invalidates-keys" => invalidated_paths(@private_message)}} do |f|
  - @private_message.to_id.each do |i|
    = hidden_field_tag "private_message[to_id][]", i
  = f.hidden_field :subject
  = f.text_area :body
  %div{:style => "text-align:right;margin: 10px 0"}
    = f.button :class => "button icon mail big"
