- style_string = tt.presentation_tag_css(presentation.starts_at, presentation.ends_at, @rooms.index(presentation.session.room))
= content_tag('div', nil, :id => "presentation_highlight_#{presentation.id}",
              :style => "#{style_string};",
              :class => "presentation_highlight #{like.kind_of?(Like::Schedule) ? "scheduled" : ""}",
              'data-container' => "like_highlights_#{presentation.starts_at.strftime('%Y-%m-%d')}")
