= ks_element :id => "new_submission",
             :data => {:container => "ponzu_frame",
                       :"container-ajax" => static_path("ponzu_frame")} do
  .panel
    %h1 New submission

    %fieldset
      %legend Submission Basic information
      = render 'form'

    %fieldset
      %legend Author information
      %table{:style => "width:100%"}
        %tr
          %td{:style => "width:50%"}
            = render :partial => "authorships/list", 
                     :locals => {:authorships => @submission.authorships.order(:position)}
            .dropbox
              Drop authors here to create new Authorships
          %td
            - @submission.institutions.each_with_index do |inst, i|
              = content_tag :div, "#{i + 1}) #{inst.name}", :class => "color_#{i}"
            %div
              = link_to "edit institutions", "Javascript:void(0)", :onclick => "kss.show(document.getElementById('inst_edit_fields'));return false;"
            #institutions_form
              = form_for(@submission,
                 :html => {:data => { :remote => true,
                           :ks_insert_response => true}}) do |f|
                .field#inst_edit_fields{:style => "display:none"}
                  - @submission.institutions.each_with_index do |inst, i|
                    %div
                      = i + 1
                      )
                      En name: 
                      = text_field_tag "submission[institutions][][en_name]", inst.en_name
                      %br/
                      Jp name:
                      = text_field_tag "submission[institutions][][jp_name]", inst.jp_name
                .field
                  %div
                    En name: 
                    = text_field_tag "submission[institutions][][en_name]"
                    %br/
                    Jp name:
                    = text_field_tag "submission[institutions][][jp_name]"

                .actions
                  = f.submit




    = link_to 'Show', ksp(@submission)
    |
    = link_to 'Back', ksp(submissions_path)
