<h2>お問い合わせ先</h2>
<div>
	<span class="pink">■</span> <%= link_to "お知らせ", notifications_dashboard_index_path %>
</div>
<div>
	<span class="pink">■</span> <%= link_to "演題を検索", search_index_path %>
</div>
<div>
	<span class="pink">■</span> <%= link_to "ﾏｲ･ｽｹｼﾞｭｰﾙと「いいね！」", by_day_likes_path %>
</div>
<div>
	<span class="pink">■</span> <%= link_to "夜ゼミ", "#"%>
</div>
<div>
	<span class="pink">■</span> <%= link_to "Twitter & Facebook", "#"%>
</div>
<div>
	<span class="pink">■</span> <%= link_to "良くある質問(FAQ)", static_path('faq') %>
</div>
<div>
	<span class="pink">■</span> <%= link_to "お問い合わせ", static_path('contact') %>
</div>
