!!! 5
%head
  %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
  %body
    = header_image
    %h4
      = t('message_mailer.comment_added.header',
          :namespace => @conference.tag)
    %div{:style => body_style}
      %b= @obj.presentation.number
      %p
        = @obj.presentation.title(:en)
        %br/
        = @obj.presentation.title(:jp)
      %p
        %b= "Comment from: #{@obj.user && @obj.user.name}"
        %br/
        = sanitize @obj.text
    %p
      = t('message_mailer.comment_added.view_web', 
          :link => linkify(ksp_email_link(presentation_path(@obj.presentation))),
          :namespace => @conference.tag).html_safe
    %p
      = mail_footer
    