= ks_element :id => "ipadish_left" do
  %ul
    %li= link_to "ToDos", ksp(:docs_path, 'showcase/todos')
    %li= link_to "Data management", ksp(:docs_path, 'showcase/data_management')
    %li= link_to "Introduction", ksp(:docs_path, 'showcase/introduction')
    %li= link_to "Key benefits of Kamishibai", ksp(:docs_path, 'showcase/key_benefits')
    %li= link_to "Purpose of this showcase", ksp(:docs_path, 'showcase/purpose_of_showcase')
    %li= link_to "How to write Kamishibai pages", ksp(:docs_path, 'showcase/writing_pages')
    %li= link_to "General structure", ksp(:docs_path, 'showcase/general_structure')
    %li= link_to "Benefits of compositor architecture", ksp(:docs_path, 'showcase/compositor_architecture')
    %li= link_to "URL scheme", ksp(:docs_path, 'showcase/url_scheme')
    %li= link_to "Fragments", ksp(:docs_path, 'showcase/fragments')
    %li= link_to "Fragment composition", ksp(:docs_path, 'showcase/composition')
    %li= link_to "Fragment composition test", ksp(:docs_path, 'showcase/composition_test')
    %li= link_to "Form Handling", ksp(:docs_path, 'showcase/forms')
    %li= link_to "Javascript Templating", ksp(:docs_path, 'showcase/templating')
    %li= link_to "Separating Static content", ksp(:docs_path, 'showcase/separating_static')
    %li= link_to "Extreme DRY views", ksp(:docs_path, 'showcase/dry_views')    
    %li= link_to "Network Situation", ksp(:docs_path, 'showcase/network_situation')
    %li= link_to "Offline Viewing", ksp(:docs_path, 'showcase/offline_viewing')
    %li= link_to "Application Cache", ksp(:docs_path, 'showcase/application_cache')
    %li= link_to "iPad-first design", ksp(:docs_path, 'showcase/ipad_first')
    %li= link_to "iMode", ksp(:docs_path, 'showcase/imode')
    %li= link_to "Base CSS", ksp(:docs_path, 'showcase/base_css')
    %li= link_to "Widgets", ksp(:docs_path, 'showcase/widgets')
    %li= link_to "Rails & Kamishibai", ksp(:docs_path, 'showcase/rails_and_kamishibai')
    %li= link_to "Kamishibai & Turbolinks", ksp(:docs_path, 'showcase/kamishibai_and_turbolinks')
    %li= link_to "Ponzu Concept", ksp(:docs_path, 'ponzu/concept')
    %li= link_to "Ponzu Author UI", ksp(:docs_path, 'ponzu/author_ui')
    %li= link_to "Ponzu Admin UI", ksp(:docs_path, 'ponzu/admin_ui')
    %li= link_to "Ponzu Schema", ksp(:docs_path, 'ponzu/schema')
    %li= link_to "Ponzu jQuery", ksp(:docs_path, 'ponzu/jquery')
    %li= link_to "Ponzu Exhibitors", ksp(:docs_path, 'ponzu/exhibitors')
    %li= link_to "Kamishibai tests (not working)", ksp(:docs_path, 'ks_tests')
    %li= link_to "Homepage ideas", ksp(:docs_path, 'homepage/introduction')
    %li= link_to "Mockup", ksp(:docs_path, 'mockup/dashboard')
    %li= link_to "Mockup2", ksp(:docs_path, 'mockup2/dashboard')
    %li= link_to "Test forms", ksp(:docs_path, 'tests/forms')
    %li= link_to "Recursive load test", ksp(:docs_path, 'tests/recursive_load_test')
    %li= link_to "Unit tests", tests_path(:page => "unit_test")
