= ponzu_frame :id => "login" do
  #splash
    %h1
  .panel.settings_bg
    = form_for @user_session do |form|
      = render :partial => "layouts/error_messages", :locals => {:target => @user_session}
      - login_label = current_conference.config('allow_email_for_login') ? "#{t('user_sessions.login_id')}/#{t('user_sessions.email')}" : "#{t('user_sessions.login_id')}"
      .grid
        .col-1-3= login_label
        .col-2-3= form.text_field :login, :placeholder => login_label, :class => "login_field"
      .grid
        .col-1-3= t('user_sessions.password')
        .col-2-3= form.password_field :password, :placeholder => t('user_sessions.password'), :class => "login_field"
      .grid
        .col-1-3{:style => "height: 40px"}
          &nbsp;
        .col-2-3
          <![if !(IE 8)]>
          <!-- IE 8 doesn't allow changing of input type -->
          = check_box_tag "show_password", '1', false
          = label_tag "show_password", t('user_sessions.show_password')
          <![endif]>
          %br/
          = form.check_box :remember_me
          = form.label :remember_me, t('user_sessions.automatically_login_on_this_device')
      .grid{:style => "text-align:right;"}
        = form.button t('user_sessions.login_button'), :class => "button big"
  .panel.settings_bg
    = t('user_sessions.contact_if_problems')
    %br/
    - support_email = current_conference.support_email
    = mail_to support_email, support_email, :encode => "hex"
    %div{:style => "text-align:right;"}
      = link_to t('user_sessions.use_without_logging_in'), root_path, :class => "button icon arrowright"
