#header.panel
  = render :partial => 'layouts/search_box'
  = render :partial => 'users/controls'
  = link_to "", root_path, :id => "logo"
  = render :partial => "layouts/navigation_links"
  = render :partial => "layouts/language_switch"
%div{:style => "clear:both"}
