<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8" lang="en" <%= manifest_attribute %>>
<![endif]-->
<!--[if IE 9]>
<html class="ie ie9" lang="en" <%= manifest_attribute %>>
<![endif]-->
<!--[if !(IE 8) | !(IE 9)  ]><!-->
<html lang="en" <%= manifest_attribute %>>
<!--<![endif]-->
<!-- lang="en" for hypenation purposes http://www.w3.org/TR/css3-text/#hyphenation -->
<head>
  <title><%= conference_module %></title>
  <%= stylesheet_link_tag "#{conference_tag}/application", :media => "all" %>
  <%= javascript_include_tag "ponzu/application" %>
  <!--[if IE 9]>
    <%= javascript_include_tag "ie9/application" %>
  <![endif]-->
  <!--[if IE 8]>
    <%= javascript_include_tag "ie9/application" %>
    <%= javascript_include_tag "ie8/application" %>
  <![endif]-->
  <%= csrf_meta_tags %>
  <!-- Viewport tag taken from http://snippet-editor.com/2010/08/viewport-equal-1024.html -->
  <!-- Fixed provides the best viewing experience IMHO -->
  <meta name="viewport" content="maximum-scale=1.2 minimum-scale=0.5 initial-scale=1.0" />

  <!-- For per user cache management -->
  <meta content="<%= current_user.id if current_user %>" name="user_id">
  <%= default_kamishibai_hash_tag "#!_/dashboard" unless @ignore_default_kamishibai_hash_tag %>

  <!-- specifying :type in the favicon link causes page load stalling on WebKit nightly -->
  <%= favicon_link_tag "/assets/#{conference_tag}/favicon.ico", :type => nil %>
  <% ["144x144", "114x114", "72x72", nil].each do |size_string| %>
    <%= tag :link, :href => asset_path("#{conference_tag}/apple-touch-icons/" + ["apple-touch-icon", size_string].compact.join('-') + ".png"),
            :rel => "apple-touch-icon", :sizes => size_string %>
  <% end %>
</head>
<body>
  <%= yield %>
  <!-- We always put out-of-page elements at behind the yield so that we
       can yank out the whole body and have basically the same results as
       an AJAX request -->
  <div class="notice"><%= flash[:notice] %></div>
  <div class="error"><%= flash[:error] %></div>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3556754-13', 'castle104.com');
    ga('send', 'pageview');
  </script>
</body>
</html>
